/*-------------------
-----polices.css-----
-------------------*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab:600italic');
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
@import url('https://fonts.googleapis.com/css?family=Lora:400italic');
@import url('https://fonts.googleapis.com/css?family=Lato:100');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Chewy');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400italic');
@import url('https://fonts.googleapis.com/css?family=Oswald:300');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:700');
/*@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200');*/
@import url('https://fonts.googleapis.com/css?family=Raleway:100');
@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Sanchez');