/*###couleurs###*/


	/*#Noir et blanc#*/
	.rcolor-black, .rcolor-hover-noir:hover{ color:white!important; background-color:#000000!important; }

	.rcolor-white, .rcolor-hover-blanc:hover{ color:black!important; background-color:#ffffff!important; }
	/*#Noir et blanc#*/
	
	
	/*#Bleu#*/
	.rcolor-bl-5,.rcolor-hover-bl-5:hover{ color:white!important; background-color:#000d1a!important; }

	.rcolor-bl-10, .rcolor-hover-bl-10:hover{ color:white!important; background-color:#001a33!important; }

	.rcolor-bl-15, .rcolor-hover-bl-15:hover{ color:white!important; background-color:#00264d!important; }

	.rcolor-bl-20, .rcolor-hover-bl-20:hover{ color:white!important; background-color:#003366!important; }

	.rcolor-bl-25, .rcolor-hover-bl-25:hover{ color:white!important; background-color:#004080!important; }

	.rcolor-bl-30, .rcolor-hover-bl-30:hover{ color:white!important; background-color:#004d99!important; }

	.rcolor-bl-35, .rcolor-hover-bl-35:hover{ color:white!important; background-color:#0059b3!important; }

	.rcolor-bl-40, .rcolor-hover-bl-40:hover{ color:white!important; background-color:#0066cc!important; }

	.rcolor-bl-45, .rcolor-hover-bl-45:hover{ color:white!important; background-color:#0073e6!important; }

	.rcolor-bl-50, .rcolor-hover-bl-50:hover{ color:white!important; background-color:#0080ff!important; }

	.rcolor-bl-55, .rcolor-hover-bl-55:hover{ color:white!important; background-color:#1a8cff!important; }

	.rcolor-bl-60, .rcolor-hover-bl-60:hover{ color:white!important; background-color:#3399ff!important; }
	
	.rcolor-bl-65, .rcolor-hover-bl-65:hover{ color:black!important; background-color:#4da6ff!important; }

	.rcolor-bl-70, .rcolor-hover-bl-70:hover{ color:black!important; background-color:#66b3ff!important; }

	.rcolor-bl-75, .rcolor-hover-bl-75:hover{ color:black!important; background-color:#80bfff!important; }
	
	.rcolor-bl-80, .rcolor-hover-bl-80:hover{ color:black!important; background-color:#99ccff!important; }

	.rcolor-bl-85, .rcolor-hover-bl-85:hover{ color:black!important; background-color:#b3d9ff!important; }

	.rcolor-bl-90, .rcolor-hover-bl-90:hover{ color:black!important; background-color:#cce6ff!important; }
	
	.rcolor-bl-95, .rcolor-hover-bl-95:hover{ color:black!important; background-color:#e6f2ff!important; }
	/*#Bleu#*/

	/*#gris#*/
	.rcolor-gr-5,.rcolor-hover-gr-5:hover{ color:white!important; background-color:#0d0d0d!important; }

	.rcolor-gr-10, .rcolor-hover-gr-10:hover{ color:white!important; background-color:#1a1a1a!important; }

	.rcolor-gr-15, .rcolor-hover-gr-15:hover{ color:white!important; background-color:#262626!important; }

	.rcolor-gr-20, .rcolor-hover-gr-20:hover{ color:white!important; background-color:#333333!important; }

	.rcolor-gr-25, .rcolor-hover-gr-25:hover{ color:white!important; background-color:#404040!important; }
	
	.rcolor-gr-30, .rcolor-hover-gr-30:hover{ color:white!important; background-color:#4d4d4d!important; }

	.rcolor-gr-35, .rcolor-hover-gr-35:hover{ color:white!important; background-color:#595959!important; }

	.rcolor-gr-40, .rcolor-hover-gr-40:hover{ color:white!important; background-color:#666666!important; }

	.rcolor-gr-45, .rcolor-hover-gr-45:hover{ color:white!important; background-color:#737373!important; }

	.rcolor-gr-50, .rcolor-hover-gr-50:hover{ color:white!important; background-color:#808080!important; }

	.rcolor-gr-55, .rcolor-hover-gr-55:hover{ color:white!important; background-color:#8c8c8c!important; }

	.rcolor-gr-60, .rcolor-hover-gr-60:hover{ color:white!important; background-color:#999999!important; }
	
	.rcolor-gr-65, .rcolor-hover-gr-65:hover{ color:black!important; background-color:#a6a6a6!important; }

	.rcolor-gr-70, .rcolor-hover-gr-70:hover{ color:black!important; background-color:#b3b3b3!important; }

	.rcolor-gr-75, .rcolor-hover-gr-75:hover{ color:black!important; background-color:#bfbfbf!important; }
	
	.rcolor-gr-80, .rcolor-hover-gr-80:hover{ color:black!important; background-color:#cccccc!important; }

	.rcolor-gr-85, .rcolor-hover-gr-85:hover{ color:black!important; background-color:#d9d9d9!important; }

	.rcolor-gr-90, .rcolor-hover-gr-90:hover{ color:black!important; background-color:#e6e6e6!important; }
	
	.rcolor-gr-95, .rcolor-hover-gr-95:hover{ color:black!important; background-color:#e6e6e6!important; }
	/*#gris#*/

	/*#gris-beige#*/
	.rcolor-grbg-5,.rcolor-hover-grbg-5:hover{ color:white!important; background-color:#0f0f0a!important; }

	.rcolor-grbg-10, .rcolor-hover-grbg-10:hover{ color:white!important; background-color:#1f1f14!important; }

	.rcolor-grbg-15, .rcolor-hover-grbg-15:hover{ color:white!important; background-color:#2e2e1f!important; }

	.rcolor-grbg-20, .rcolor-hover-grbg-20:hover{ color:white!important; background-color:#3d3d29!important; }

	.rcolor-grbg-25, .rcolor-hover-grbg-25:hover{ color:white!important; background-color:#4d4d33!important; }
	
	.rcolor-grbg-30, .rcolor-hover-grbg-30:hover{ color:white!important; background-color:#5c5c3d!important; }

	.rcolor-grbg-35, .rcolor-hover-grbg-35:hover{ color:white!important; background-color:#6b6b47!important; }

	.rcolor-grbg-40, .rcolor-hover-grbg-40:hover{ color:white!important; background-color:#7a7a52!important; }

	.rcolor-grbg-45, .rcolor-hover-grbg-45:hover{ color:white!important; background-color:#8a8a5c!important; }

	.rcolor-grbg-50, .rcolor-hover-grbg-50:hover{ color:white!important; background-color:#999966!important; }

	.rcolor-grbg-55, .rcolor-hover-grbg-55:hover{ color:white!important; background-color:#a3a375!important; }

	.rcolor-grbg-60, .rcolor-hover-grbg-60:hover{ color:white!important; background-color:#adad85!important; }
	
	.rcolor-grbg-65, .rcolor-hover-grbg-65:hover{ color:black!important; background-color:#b8b894!important; }

	.rcolor-grbg-70, .rcolor-hover-grbg-70:hover{ color:black!important; background-color:#c2c2a3!important; }

	.rcolor-grbg-75, .rcolor-hover-grbg-75:hover{ color:black!important; background-color:#ccccb3!important; }
	
	.rcolor-grbg-80, .rcolor-hover-grbg-80:hover{ color:black!important; background-color:#d6d6c2!important; }

	.rcolor-grbg-85, .rcolor-hover-grbg-85:hover{ color:black!important; background-color:#d6d6c2!important; }

	.rcolor-grbg-90, .rcolor-hover-grbg-90:hover{ color:black!important; background-color:#d6d6c2!important; }
	
	.rcolor-grbg-95, .rcolor-hover-grbg-95:hover{ color:black!important; background-color:#d6d6c2!important; }
	/*#grisbg#*/

	/*#gris-bleu#*/
	.rcolor-grbl-5,.rcolor-hover-grbl-5:hover{ color:white!important; background-color:#0a0f0f!important; }

	.rcolor-grbl-10, .rcolor-hover-grbl-10:hover{ color:white!important; background-color:#141f1f!important; }

	.rcolor-grbl-15, .rcolor-hover-grbl-15:hover{ color:white!important; background-color:#1f2e2e!important; }

	.rcolor-grbl-20, .rcolor-hover-grbl-20:hover{ color:white!important; background-color:#293d3d!important; }

	.rcolor-grbl-25, .rcolor-hover-grbl-25:hover{ color:white!important; background-color:#334d4d!important; }
	
	.rcolor-grbl-30, .rcolor-hover-grbl-30:hover{ color:white!important; background-color:#3d5c5c!important; }

	.rcolor-grbl-35, .rcolor-hover-grbl-35:hover{ color:white!important; background-color:#476b6b!important; }

	.rcolor-grbl-40, .rcolor-hover-grbl-40:hover{ color:white!important; background-color:#527a7a!important; }

	.rcolor-grbl-45, .rcolor-hover-grbl-45:hover{ color:white!important; background-color:#5c8a8a!important; }

	.rcolor-grbl-50, .rcolor-hover-grbl-50:hover{ color:white!important; background-color:#669999!important; }

	.rcolor-grbl-55, .rcolor-hover-grbl-55:hover{ color:white!important; background-color:#75a3a3!important; }

	.rcolor-grbl-60, .rcolor-hover-grbl-60:hover{ color:white!important; background-color:#75a3a3!important; }
	
	.rcolor-grbl-65, .rcolor-hover-grbl-65:hover{ color:black!important; background-color:#94b8b8!important; }

	.rcolor-grbl-70, .rcolor-hover-grbl-70:hover{ color:black!important; background-color:#a3c2c2!important; }

	.rcolor-grbl-75, .rcolor-hover-grbl-75:hover{ color:black!important; background-color:#b3cccc!important; }
	
	.rcolor-grbl-80, .rcolor-hover-grbl-80:hover{ color:black!important; background-color:#c2d6d6!important; }

	.rcolor-grbl-85, .rcolor-hover-grbl-85:hover{ color:black!important; background-color:#d1e0e0!important; }

	.rcolor-grbl-90, .rcolor-hover-grbl-90:hover{ color:black!important; background-color:#e0ebeb!important; }
	
	.rcolor-grbl-95, .rcolor-hover-grbl-95:hover{ color:black!important; background-color:#f0f5f5!important; }
	/*#gris-bleu#*/
	
	.rcolor-gr-light, .rcolor-hover-gr-light:hover{ color:black!important; background-color:#f1f1f1!important; }
